@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f0f10;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

body {
    margin: 0 15vw;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo img {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;

}

.navlist {
    display: flex;
    gap: 20px;
}


.navlist ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}


li {
    list-style: none;
    margin-right: 10px;

}

a {
    text-decoration: none;
}

.lia {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;


}

button {
    width: 8vw;
    height: 6vh;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 200;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e21;
    cursor: pointer;
}

.mainimg {
    position: relative;
    width: 230px;
    top: -243px;
    left: 76px;
    height: 80vh;
}

.mainsection {
    display: flex;
}

.section {
    margin-top: 20px;
    height: 70vh;
    width: 36vw;
    /* background-color: red; */
    margin-left: 187px;
}

.mainimg1 {
    width: 272px;
    margin-left: 40px;
}
.h1{
        font-size: 3em;
        font-weight: 900;
}

.h6 {
    font-weight: 600;
    margin-top: 20px;
    font-size: 2.5em;
}

.psec {
    font-weight: 200;
    font-size: 2em;
    margin-top: 12px;
}

.contsec {
    width: fit-content;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 21px;
    /* justify-content: space-between; */
    background-color: #1e1e21;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 23px;
}

.imsb-2 {
    background-color: #1e1e21;
}

.shop {
    height: 10px;
}

.fonts-3 {
    font-weight: 300;
    font-size: 0.5em;
}

.fonts-4 {
    font-size: 0.5em;
    font-weight: 500;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    margin-bottom: 40px;
    top: -40px;

}

.logoimga {
    height: 25px;

}

.specification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specification-logo {
    height: 30px;
}

.specification-list {
    display: flex;
}

.specitem {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
}

.con-12 {
    height: 10px;
    font-size: 6px;
    font-weight: 100;

}

.con-h {
    height: 10px;
}

.con-13 {
    font-size: 6px;
    font-weight: 500;
}

.con-15 {
    margin-left: 20px;
}

.spimg {
    height: 180px;
    margin-left: 30px;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.caselogo {
    height: 30px;
}

.caseitem {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caseimgitem {
    height: 180px;
}

.listcaseii {
    position: relative;
    top: -40px;
    margin-left: 20px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: start; */
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border-radius: 5px;
    background-color: #1e1e21;
    height: 5vh;
    width: 72px;
    position: relative;
    top: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

.buyproduct {
    background: #181a1b;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    padding: 15px 0;
}

.flex {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 30px; */
    padding: 30px;
}

.bg {
    background-color: #181a1b;
}

.leftitem {
    width: 22vw;
    background-color: #181a1b;
    padding: 0px 32px;

}

.h3b {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}

.pb {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 100;
    color: white;
}

.leftim {
    position: relative;
    margin-top: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    background-color: #0f0f10;
    gap: 10px;
    border-radius: 5px;
}

.imgleftim {
    /* background-color: #0f0f10;   */
    height: 10px;
}

.bupr {
    font-size: 10px;
}

.rightitemimg {
    height: 150px;
    width: fit-content;
}

.chooseyour {
    display: flex;
    align-items: center;
    justify-content: center;


}

.productlogo {
    transform: scale(0.5);

}

.product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 50px;


}

.product-item {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #181a1b;
    border-radius: 10px;
}

.product-image {
    background-color: transparent;
    width: 49px;
    height: 67px;
    position: absolute;
    z-index: 100;
    top: -28px;
    left: 15px;
}

.productinfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 10px 20px 30px;
    grid-template-rows: 30px 20px 10px;
    background-color: transparent;
}

.pimgb {
    display: flex;
    position: relative;
    background-color: transparent;
    font-size: 8px;
    font-weight: 500;

}

.pimgp {
    background-color: transparent;
    font-size: 5px;
    font-weight: 100;
}

.dpi {
    position: relative;
    top: 30px;
    left: 5px;
    width: 6vw;
    background-color: transparent;
    /* display: flex; */
    /* align-items: center; */
}

.bagimg {
    width: 2vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 49px;
    border-radius: 5px;
    /* transform: scale(0.2); */

    /* background-color: transparent; */
}

.bagim {

    transform: scale(0.5);

}

.footer {
    display: flex;
    margin: 100px -30px;
   
  
}
.h{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
    position: relative;
    gap: 70px;
    margin-left: 50px;
}

.flogo {
    transform: scale(0.5);

}

.email {
    display: flex;
    border-radius: 5px;
    background-color: #181a1b;
}

.fa {
    font-size: 7px;
    font-weight: 300;
}

.fa1 {
    font-size: 13px;
    font-weight: 400;

}

.support {
    width: 55px;
    height: 100px;
    cursor: pointer;


}

.subscribebutton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 7vh;
    width: 12vw;
    background-color: #181a1b;
    border-radius: 5px;
}

.subscribebi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border-radius: 4px;

}

.imgsoc {
    transform: scale(0.5);
}

.input {
    font-size: 8px;
    display: flex;

    margin-left: 5px;
    border-radius: 5px;
    border: none;
    width: 70px;
    background-color: #181a1b;
}

.subp {
    font-size: 9px;
    font-weight: 200;
}

.social {
    position: relative;
    top: 20px;

}
